.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100%;
    min-width: none;
    flex-wrap: wrap;
    flex: 1 1 18;

    border-top: 1px solid rgb(202, 202, 202);

font-family: txt;
}

.fondo{
    background-color: #fafafa;
    border: 0;
}

.footer__header {
    display: flex;
    justify-content: space-between;
    width: 1300px;
    max-width: 100%;
    min-width: none;
    flex-wrap: wrap;
    flex: 1 1 18;
    padding-top: 2rem;
}

.footer__header__box {
    display: flex;
    gap: 3rem;
}

.footer__header__box2 {
    display: flex;
    gap: 1rem;
}

.footer__header__subox {
    display: flex;
    gap: 0;
}

.footer__txt1 {
    color: black;
}

.footer__txt2 {
    color: rgb(123, 175, 123);
}

/*---------------*/

.footer__link {
    text-decoration: none;
}

.footer__2 {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-top: 2rem;
    padding-bottom: 2rem;
    width: 1300px;
    max-width: 100%;
    min-width: none;
    flex-wrap: wrap;
    flex: 1 1 18;
}

.footer__2box {

    display: flex;
    flex-direction: column;
    gap: 12px;
}

.footer__title {
    margin-bottom: 0;
}

.footer__list {
    list-style: none;
    margin-top: 0;
    padding: 0;
}

.lista__item {
    font-size: 12px;
    margin: 10px;
}


.footer__link2 {
    text-decoration: none;
    color: rgb(58, 58, 58);

}

.rrss2:hover {
    color: rgb(99, 0, 165);
}

.rrss3:hover {
    color: rgb(255, 0, 0);
}

.rrss4:hover {
    color: rgb(0, 0, 0);
}

.rrss5:hover {
    color: rgb(0, 26, 255);
}

.rrss6:hover {
    color: rgb(255, 0, 0);
}

.rrss1:hover {
    color: palevioletred;
}

.text2{
    font-size: 12px;
    font-weight: lighter;
}

.footer__3 {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-top: 2rem;
    padding-bottom: 2rem;
    width: 1300px;
    max-width: 100%;
    min-width: none;
    flex-wrap: wrap;
    flex: 1 1 18;

    border-bottom: 1px solid rgb(202, 202, 202);
}

.otras__box{
    display: flex;
    gap: 1rem;
}

.descarga{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center ;
    gap: 1rem;

    margin: 1rem;
}

.descarga__box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: end ;
    gap: 0.5rem;
}

.icon{
    font-size: 24px;
}

.fondo__2{
    background-color: #f0f0f0;
    border: 0;
}

.box{
    display: flex;
    align-items: center;
    gap: 16px;
}

.footer__link3{
    text-decoration: none;
    color: black;
    font-size: 14px;
}

.footer__espacio{
    width: 1300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    max-width: 100%;
    min-width: none;
    flex-wrap: wrap;
    flex: 1 1 18;
}

.arriba{
    position: fixed;
    bottom: 30px;
    right: 30px;
    border-radius: 100%;
    padding: 1rem;
    background-color: #fff;
    box-shadow: 4px 4px #0000001e;
}

.arriba__txt{
   color: #000000;
}

.accesabilidad{
    position: fixed;
    bottom: 30px;
    left: 30px;
    border-radius: 100%;
    padding: 1rem;
    background-color: #000000;
    color: #fff;
}

.html{
    scroll-behavior: smooth;
    margin: 0%;
    padding: 0%;
}